body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

div.main-content {
    background-color: lightsteelblue;
    margin-top: 60px;
    margin-left: 05px;
    margin-right: 200px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    
}

.form-table {
    font-size: 16px;
}

.form-input {
    font-size: 16px;
    height: 30px;
    width: 200px;
    border: 3px solid black;
    border-radius: 5px;
}

.submit-btn {
    background-color: green;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}
.error-td {
    font-size: 15px; color: red;
}