.styled{
    background-color: greenyellow;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    line-height: 35px;
}
#tt1{
    padding: 50px; font-family: Verdana;
}
#dd1{
    background-color: #e6e6e6; padding: 50px;
}
#td001{
    font-size: 35px; font-weight: bold; color: #FF0000; text-align: center; padding-left:70px; padding-bottom:5px;
}
#td002{
    vertical-align: top;
}